body {
    text-align: center;
    background: #88ccff;
}

h1 {
    font-size: 50px;
    padding-top: 20px;
    color: #000;
}

.start {
    float: center;
}

p {
    color: #3E2723;
}

#quiz-area {
    background: rgb(#88CCFF);
    margin-right: 150px;
    margin-left: 150px;
}

.score {
    background: #c3664a;
    border: none;
}

.scores {
    font-size: 1.5em;
}

.badge {
    background: #AB47BC;
    font-size: 0.9em;
}
.footer,
.push {
  height: 6em;
  text-align: center;
}